@font-face{
    font-family: "OpenSans-Regular";
    src: url('OpenSans-Regular.ttf');
}

@font-face{
    font-family: "OpenSans-Bold";
    src: url('OpenSans-Bold.ttf');
}

@font-face{
    font-family: "AvenirNext";
    src: url('AvenirNext.ttc');
}

@font-face{
    font-family: "Roboto-Bold";
    src: url('Roboto-Bold.ttf');
}

@font-face{
    font-family: "Roboto-Regular";
    src: url('Roboto-Regular.ttf');
}

body {
	margin: 0px;
	background: #FFFFFF;
}

#notes {
    background: #FFFFFF;
}

header {
    background-color: #333333;
    margin:0;
    padding:0;
    width: 100%;
}

h1 {/* Normie Notes: */
	font-family: AvenirNext;
	font-weight: lighter;
	font-size: 40px;
	text-align: left;
	color: #FFFFFF;
	margin: 0px;
	background: #333333;
    width: 80%;
    margin-left: 30px;
    padding-top: 18px;
    padding-bottom: 18px;
    display: inline;
}

img {
    text-align: right;
    margin-left: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 347px;
    height: 80px;
    display: inline;
}

h2 {
	margin: 0px;
	font-family: OpenSans-Regular;
	font-weight: lighter;
}

nav {
    display: inline;
    float: right;
    margin-right: 40px;
    margin-top: 40px;
}

nav ul{
    list-style:none;
}


nav ul li{
    display: inline;
}

nav ul li a {
    font-family: Roboto-Regular;
    color: #FFFFFF;
    text-decoration: none; 
    padding: 14px 15px;
}

.uploadButton {
    font-size: 20px;
}

.button {
    background-image: linear-gradient(-180deg, #F5515F 0%, #9F041B 100%);
    border: none;
    font-family: Roboto-Bold;
    color: #FFFFFF;
    border-radius: 6px;
}

h3 {
	margin: 0px;
	font-family: Roboto-Regular;
	font-weight: lighter;
	color: #CB1A3B;
}

#subtitle {
	font-size: 30px;
	text-align: center;
	color: #D2C4FF;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #9B68FF;
	text-shadow: 1px 2px #AAAAAA;
	background: #FFFFFF;
}

#formWrapper {
	width: 100%;
	height: 20px;
	background: #333333;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 40px;
	margin: 0px;
}

#myForm {
	margin-left: auto;
	margin-right: auto;
}

#contentWrapper {
	background: #FFFFFF;
	margin: 0px;
	width: 96%;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 2%;
	padding-right: 2%;
}

#content {
	background: #F7F7F7;
    border: 1px solid #979797;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.50);
	width: 96%;
	height: 100px;
	margin-bottom: 10px;
	padding: 20px;
	overflow: hidden;
}

#index {
	min-width: 35px;
    width: auto;
	height: 40px;
    padding-left: 5px;
    padding-right: 5px;
	margin-left: 10px;
	margin-right: 0px;
	margin-top: 30px;
	background: #FFFFFF;
	color: #CB1A3B;
	text-align: center;
	line-height: 40px;
	display:inline-block;
	border: #CB1A3B solid 1px;
	/*border-right: #CB1A3B solid 4px;*/
}

#title {
	text-align: center;
	margin-left: 50px;
	display:inline-block;
	background: #F7F7F7;
}

#content a {
	color: #616161;
}

#class {
	text-align: left;
	margin-left: 160px;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100px;
	font-size: 17px;
}

#prof {
	text-align: left;
	margin-left: 160px;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100px;
	font-size: 17px;
}

#time {
	text-align: left;
	font-size: 18px;
	width: auto;
	margin-right: 10px;
	margin-left: auto;
	margin-top: 40px;
	position: relative;
	float: right;
	color: #CB1A3B;
	display:inline-block;
}

#searchParams {
	color: #BDBDBD;
}