body{
    background-color: #F0F0F0;
    vertical-align: middle;
}
h1 {
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    color: #a3a3c2;
    font-style: italic;
    padding: 2px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #7575a4;
}
p{
    text-align: center;
}
div{
    display: block;
}
#table
{
    width: 800px;
    margin: auto; 
    align-content: center;
}
#body
{
    padding-left: 200px;
}
#menu
{
    border: 1px solid black;
    width: 170px;
    float: left;
    position: fixed;
    text-align: left;
}
td, th{
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    border: 1px solid #c0c0c0;
    border-radius: 15px;
}
ul
{
    list-style-type: disc;
}

th {
  text-align: left;
  background-color: #a3a3c2;
  color: #ffffff;
}