@font-face{
    font-family: "AvenirNext";
    src: url('AvenirNext.ttc');
}

@font-face{
    font-family: "Roboto-Bold";
    src: url('Roboto-Bold.ttf');
}

@font-face{
    font-family: "Roboto-Regular";
    src: url('Roboto-Regular.ttf');
}

html {
	height: 100%;
	background: #EEEEEE;
}

body {
	height: 100%;
	margin: 0px;
}

h1 {
	font-family: Century Gothic, sans-serif;
	font-weight: lighter;
	font-size: 80px;
	text-align: center;
	color: #616161;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #616161;
	margin: 0px;
	text-shadow: 3px 4px #AAAAAA;
	background: #333333;
	border-top: #616161 solid 3px;
}

h2 {
	font-family: Century Gothic, sans-serif;
	font-weight: lighter;
	font-size: 20px;
    width: 100%;
    text-align: center;
    color:#CB1A3B;
}

h3{
	margin: 0px;
	font-family: Century Gothic, sans-serif;
	font-weight: lighter;
}

#subtitle {
	font-size: 30px;
	text-align: center;
	color: #616161;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #616161;
	text-shadow: 1px 2px #AAAAAA;
	background: #FFFFFF;
	border-bottom: #616161 solid 3px;
}

#mainWrapper{
	
	height: auto;
	min-height: 100%;
	background: #F7F7F7;
    text-align: center;
}

#noteWrapper {
	background: #FFFFFF;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #616161;
    padding-bottom: 5px;
	margin-top: 20px;
}
/*
#imageWrapper {
	text-align: center;
	background: #FFFFFF;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #616161;
	margin-top: 50px;
	overflow: hidden;	
}*/

#innerWrapper {
	width: 606px;
	background: #F7F7F7;
    margin: auto;
}

#title {
	font-size: 40px;
	background-color: #333333;
    padding-bottom: 5px;
	text-align: center;
	width: 100%;
	margin: 0px;
	margin-bottom: 10px;
	overflow: hidden;
	color: #FFFFFF;
    display:inline-block;
}

#class, #prof {
	/*background: #616161;*/
	text-align: center;
	width: 200px;
	margin:auto;
	overflow: hidden;
	/*border: 2px solid #616161;*/
}

#note {
	height: auto;
	min-height: 200px;
	margin: 10px;
    font-family: Roboto-Regular;
}
#contentWrapper {
	background: #FFFFFF;
	margin: 0px;
	width: 96%;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 2%;
	padding-right: 2%;
}

#content {
	background: #F7F7F7;
    border: 1px solid #979797;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.50);
	width: 96%;
	height: 100px;
	margin-bottom: 10px;
	padding: 20px;
	overflow: hidden;
}

#index {
	width: 40px;
	height: 40px;
	margin-left: 10px;
	margin-right: 0px;
	margin-top: 30px;
	background: #FFFFFF;
	color: #CB1A3B;
	text-align: center;
	line-height: 40px;
	display:inline-block;
	border: #CB1A3B solid 1px;
	/*border-right: #CB1A3B solid 4px;*/
}

#content a {
	color: #616161;
}

#imageLink
{
    text-align: center;
    font-family: Roboto-Regular;
}

#class, #prof {
    text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100px;
	font-size: 17px;
}

#time {
	text-align: left;
	font-size: 18px;
	width: auto;
	margin-right: 10px;
	margin-left: auto;
	margin-top: 40px;
	position: relative;
	float: right;
	color: #CB1A3B;
	display:inline-block;
}

#searchParams {
	color: #BDBDBD;
	visibility: hidden;
}